@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #eff0f0;
}

#nav {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

#nav-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-part1 .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
}

#nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#nav-part2 h4 {
  font-weight: 500;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-part2 h4 span {
  margin-left: 10px;
  color: #00000063;
}

#nav-part2 h5{
  display: none;
}

#nav2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  height: 38px;
  width: 100%;
  padding: 0 40px;
}

#nav2 h3 {
  font-size: 1.1vw;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

#content {
  height: calc(100% - 113px);
  width: 100%;
}

#text-content {
  height: 45%;
  width: 100%;
  display: flex;
  overflow-x: auto;
  cursor: pointer;
}

#text-content::-webkit-scrollbar{
 background-color: transparent;
 height: 5px;
}

#text-content::-webkit-scrollbar-thumb{
  background-color: orange;
}

.elem {
  height: 100%;
  width: 68%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elem h1{
  font-size: 100px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

#image-content{
 height: calc(100% - 45%);
 width: 100%;
 display: flex;
 overflow-x: auto;
}

#image-content::-webkit-scrollbar{
  display: none;
}

#image-content img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: 50% 30%;
flex-shrink: 0;
}

@media (max-width:472px) {
  
#nav {
  height: 65px;
  padding: 0 25px;
}

#nav-part1 .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
}

#nav-part2 {
  gap: 15px;
}

#nav-part2 h4 {
  display: none;
  font-weight: 500;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav-part2 h5{
  display: initial;
}
#nav-part2 h4:nth-child(1){
  display: initial;
  margin-right: 30px;
}

#nav-part2 h5 i{
  font-size: 25px;
}
#nav-part2 h4 span {
  margin-left: 10px;
  color: #00000063;
}

#nav2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 38px;
  width: 100%;
  padding: 0 25px;
  gap: 17px;
}

#nav2 h3 {
  font-size: 2vw;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

#content {
  height: calc(100% - 113px);
  width: 100%;
}

#text-content {
  height: 45%;
  width: 100%;
  display: flex;
  overflow-x: auto;
  cursor: pointer;
}

#text-content::-webkit-scrollbar{
 background-color: transparent;
 height: 5px;
}

#text-content::-webkit-scrollbar-thumb{
  background-color: orange;
}

.elem {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elem h1{
  font-size: 16vw;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

#image-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
  flex-shrink: 0;
  }

}